### 6-1

In [1]:
Brandon_9 ={'first_name' : 'Brandon', 'last_name' : 'Martinez', 'age': '17', 'city': 'Bronx'}
print (Brandon_9['first_name'])
print (Brandon_9 ['last_name'])
print (Brandon_9 ['age'])
print (Brandon_9 ['city'])

Brandon
Martinez
17
Bronx

### 6-2

In [2]:
fav_numbers ={'Assha': '4', 'Louise': '12', 'Yeshi': '11', 'Enson': '5'}
print ("Assha" , fav_numbers['Assha'])
print("Louise", fav_numbers['Louise'])
print ("Yeshi", fav_numbers["Yeshi"])
print ("Enson", fav_numbers["Enson"])

Assha 4
Louise 12
Yeshi 11
Enson 5

### 6-3

In [3]:
coding_master ={'pop:': 'to delete/remove an item from a list', 
                'print:': 'to print/publish a string, object or message', 
                'sorted:': 'to change the order of a list into alphabetical order', 
                'reverse:': "changes order of list to any form", 
                'loop:': 'repeating a string, or message multiple times at once' }
print('pop:', coding_master['pop:'])

print('\n')

print('print:' , coding_master["print:"])

print('\n')

print('sorted:', coding_master['sorted:'])

print('\n')

print('reverse:' , coding_master['reverse:'])

print('\n')

print('loop:', coding_master['loop:'])

pop: to delete/remove an item from a list


print: to print/publish a string, object or message


sorted: to change the order of a list into alphabetical order


reverse: changes order of list to any form


loop: repeating a string, or message multiple times at once

### 6-4

In [4]:
coding_master= {'pop:': 'to delete/remove an item from a list', 
                'print:': 'to print/publish a string, object or message', 
                'sorted:': 'to change the order of a list into alphabetical order', 
                'reverse:': "changes order of list to any form", 
                'loop:': 'repeating a string, or message multiple times at once',
                'upper:': 'for all of the letters or numbers in a string to be uppercase', 
                'lower:': 'for all the letters or numbers in a string to be lowercase', 
                'del:' : ' to remove or delete an item', 
                'list:': 'multiple items, names, or numbers listed in a string', 
                'else statement:' : 'used to print a message for a statement that does not meet previous rules'}



for k, v in coding_master.items():
    print("\n" ,k)
    print("\n" ,v)

 pop:

 to delete/remove an item from a list

 print:

 to print/publish a string, object or message

 sorted:

 to change the order of a list into alphabetical order

 reverse:

 changes order of list to any form

 loop:

 repeating a string, or message multiple times at once

 upper:

 for all of the letters or numbers in a string to be uppercase

 lower:

 for all the letters or numbers in a string to be lowercase

 del:

  to remove or delete an item

 list:

 multiple items, names, or numbers listed in a string

 else statement:

 used to print a message for a statement that does not meet previous rules

### 6-5

In [5]:
rivers = {'Amazon river' : 'Brazil, Columbia & Peru', 
         
         'Nile': 'Egypt', 
         
         'Yangtze': 'China'}

for k, v in rivers.items():
    print("The", k, "runs through" ,v)
    
print("\n")

for k, v in rivers.items(): 
    print("\n" ,k)
    print("\n" ,v)

The Amazon river runs through Brazil, Columbia & Peru
The Nile runs through Egypt
The Yangtze runs through China



 Amazon river

 Brazil, Columbia & Peru

 Nile

 Egypt

 Yangtze

 China

### 6-7

In [6]:
people ={'first_name' : 'Brandon', 'last_name' : 'Martinez', 'age': '17', 'city': 'Bronx',
         'first_namee': 'Yeshi', 'last_namee': 'Martinez', 'agee': '14', 'cityy':'Bronx', 
         'first_names': 'Enson', 'last_names': 'Martinez', 'ages': '12', 'citys': 'Bronx'}

for k, v in people.items():
    print("\n", v)

 Brandon

 Martinez

 17

 Bronx

 Yeshi

 Martinez

 14

 Bronx

 Enson

 Martinez

 12

 Bronx

### 6-8

In [7]:
pets = { 'dog': 'alondra', 'cats' :'Esther', 'birds': 'Patricia', 'camels': 'Assha'}
for x, v in pets.items():
    print("\n" ,x)
    print("\n", v)

 dog

 alondra

 cats

 Esther

 birds

 Patricia

 camels

 Assha

### 6-9

In [8]:
favorite_places = {'Alondra' :'church & school', 'Yeshi': 'SEO & home', 'Assha':'work & home'}
for k, v in favorite_places.items(): 
    print("\n" , k)
    print("\n", v)

 Alondra

 church & school

 Yeshi

 SEO & home

 Assha

 work & home

### 6-11

In [1]:
cities ={ 
'Bronx':{ 'country' : 'U.S.A', 'population': '1.427 million', 'fun fact': 'Hip-hop & Salsa were born in the Bronx'
 },


'Puerto Cortes': {'country': 'Honduras', 'population' : '73,150', 'fun fact': 'Known as Honduras"s largest post'
},
                    
'Cape Coast': {'country': 'Ghana', 'population': '170,000', 'fun fact':'Holds three castles that were used for keep slaves for the british'
},
    
}

for city, city_info in cities.items():
    print("\ncity:", city)
    country= city_info['country']
    population=city_info['population']
    funfact= city_info['fun fact']
    print(f"\tCountry: {country.title()}")
    print(f"\tpopulation: {population.title()}")
    print(f"\tfunfact :{funfact.title()}")

city: Bronx
	Country: U.S.A
	population: 1.427 Million
	funfact :Hip-Hop & Salsa Were Born In The Bronx

city: Puerto Cortes
	Country: Honduras
	population: 73,150
	funfact :Known As Honduras"S Largest Post

city: Cape Coast
	Country: Ghana
	population: 170,000
	funfact :Holds Three Castles That Were Used For Keep Slaves For The British